<div class="container mt-2">
    <!-- <app-todo-list></app-todo-list> -->

    <!-- <app-header></app-header>
    <app-card></app-card> -->
    <!-- <app-product-list></app-product-list> -->

    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-4">
                <input type="text" formControlName="name" class="form-control" placeholder="Enter Name">
            </div>
        </div>

        <div class="row">
            <div formArrayName="skills">
                <div class="row" *ngFor="let skill of userForm.get('skills').controls; last as isLast; let i = index"
                [formGroupName]="i">
                <div class="col-4 mt-2">
                    <input type="text" class="form-control" placeholder="add skills" formControlName="skill">
                </div>
                <div class="col-4">
                    <i class="bi bi-plus-circle" *ngIf="isLast" (click)="addSkills()"></i>
                    <i class="bi bi-trash" *ngIf="userForm.get('skills').length > 1" (click)="deleteSkills(i)"></i>
                </div>
                </div>
            </div>
        </div>
    </form>
</div>